<div class="page-header">
  <%= link_to meds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_med_path(@med), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show med</h1>
</div>

<dl class="dl-horizontal">
  <dt>Drug:</dt>
  <dd><%= @med.title %></dd>

  <dt>Directions:</dt>
  <dd><%= @med.directions %></dd>

  <dt>Comments:</dt>
  <dd><%= @med.comments %></dd>

  <dt>Created:</dt>
  <dd><%= @med.created_at %></dd>

</dl>
